* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .container {
  max-width: 1200px;
  margin: auto;
}

header > div:first-child {
  background-color: #0082f9;
  padding: 5px 0;
}

header > div:first-child .container.top {
  gap: 20px;
  display: flex;
  justify-content: end;
}

header > div:last-child .container.bottom {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div:last-child .container.bottom img {
  width: 70px;
}

header > div:last-child .container.bottom ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

header > div:last-child .container.bottom ul a {
  text-decoration: none;
}

main section#comics {
  color: #fff;
  background-color: #1c1c1c;
}

main section#comics .container {
  max-width: 1200px;
  margin: auto;
}

main section#comics .container #comics-container {
  padding: 50px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main section#comics .container #comics-container .card {
  width: 14.2857142857%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

main section#comics .container #comics-container .card a {
  text-decoration: none;
  color: #fff;
}

main section#comics .container #comics-container .card a .thumb {
  overflow-y: hidden;
  height: 180px;
}

main section#comics .container #comics-container .card a .thumb img {
  width: 100%;
}

main section#comics .container #comics-container .card a .info {
  display: flex;
  flex-direction: column;
}

main section#comics .container #comics-container .card a h3 {
  padding: 10px 0;
  top: -20px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #0082f9;
  padding: 20px 0;
  text-align: center;
}

#comic-detail .container {
  max-width: 1200px;
  margin: auto;
}

#comic-detail .container h2 {
  margin: 20px 0;
}

#comic-detail .container .general {
  display: flex;
  gap: 30px;
}

#comic-detail .container .info {
  display: flex;
  flex-direction: column;
}

#comic-detail .container h4 {
  margin: 10px 0;
}

